In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/sms_spam_perceptron.csv')
x = df.iloc[:,[1,2]].values
y=df.iloc[:, 0].values
y= np.where(y=='spam',-1,1)
df

    type  sex  buy
0    ham    0    1
1    ham    0    1
2    ham    1    1
3   spam    1    0
4    ham    0    1
..   ...  ...  ...
94   ham    0    1
95   ham    0    1
96   ham    0    1
97  spam    1    0
98   ham    0    1

[99 rows x 3 columns]

In [3]:
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression()
linear_regression.fit(x,y)
print(linear_regression.score(x,y))

0.5609580848733504